Data/Dic 2022 - Feb-Mar 2023-Table 1.csv
Data/RELEVAMIENTO DE AULAS - AULA.csv
__pycache__/lib.cpython-39.pyc
.DS_Store
Data/codigos_materias.csv
Data/Dic 2022.csv
Data/Mesas_12_2022-03_2023.csv
Data/RELEVAMIENTO DE AULAS - AULA_2.csv
